<div class="mb-6 mx-4 flex flex-col rounded border border-gray-200 ">
  <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg">
    <label for="comment" class="sr-only">Your post</label>
    <textarea id="comment" rows="6" [(ngModel)]="postContent"
              class=" px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
              placeholder="Create a post..." required></textarea>
  </div>
  <div class="w-full py-2 px-2 flex border-gray-200 border-t bg-gray-100">
    <button type="submit" (click)="createPost()"
            class="ml-auto inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
      Create post
    </button>
  </div>
</div>
