<div class="flex bg-white border border-solid border-slate-100 rounded-lg mx-4 md:mx-auto mb-5 max-w-md md:max-w-2xl ">
  <div class="flex items-start px-4 py-6 w-full">
    <img class="w-12 h-12 rounded-full object-cover mr-4 shadow" src="" alt="">
    <div class="w-full">
      <div class="flex items-center justify-between">
        <h2 class="text-lg font-semibold text-gray-900 -mt-1">n3rsti</h2>
        <small class="text-sm text-gray-700">22h ago</small>
      </div>
      <p class="mt-3 text-sm">
        Lorem ipsum, dolor sit amet conse. Saepe optio minus rem dolor sit amet!
      </p>
    </div>
  </div>
</div>
<div class="flex bg-white border border-solid border-slate-100 rounded-lg mx-4 md:mx-auto mb-5 max-w-md md:max-w-2xl ">
  <div class="flex items-start px-4 py-6 w-full">
    <img class="w-12 h-12 rounded-full object-cover mr-4 shadow" src="" alt="">
    <div class="w-full">
      <div class="flex items-center justify-between">
        <h2 class="text-lg font-semibold text-gray-900 -mt-1">n3rsti</h2>
        <small class="text-sm text-gray-700">10h ago</small>
      </div>
      <p class="mt-3 text-sm">
        Lorem ipsum, dolor sit amet conse. Saepe optio minus rem dolor sit amet!
        Lorem ipsum, dolor sit amet conse. Saepe optio minus rem dolor sit amet!
        Lorem ipsum, dolor sit amet conse. Saepe optio minus rem dolor sit amet!
      </p>
    </div>
  </div>
</div>
